/*@tailwind base;*/
/*@tailwind components;
@tailwind utilities;*/
.auth-bg {
    background-image: url('/assets/media/auth/bg4.jpg');
    background-size: cover;
    background-position: center;
}

[data-bs-theme="dark"] .auth-bg {
    background-image: url('/assets/media/auth/bg4-dark.jpg');
}
